body {
    background: #092B40;
}

/*Header formatting
=====================================================================*/
h1 {
    text-align: center;
    padding: 20px 0;
    color: white;
}

#search {
    padding-bottom: 20px;
}

.input-group {
    border: #D96F32 3px solid;
    border-radius: 5px;
}

.random {
    text-align: center;
}

/*Formatting results
=====================================================================*/

.results {
    margin: 20px 0;
}

.oneResult {
    margin: 15px 0;
    padding: 10px 20px;
    background: #E7E7E8;
    border-left: #092B40 5px solid;
    border-right: #092B40 5px solid;
}

.oneResult:hover {
    border-left: #D96F32 5px solid;
}

.oneResult a {
    color: black;
}

.oneResult a:hover {
    color: black;
    text-decoration: none;
}
